* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #EBF5DF;
}
.post {
    background-color: #BAD4AA;
    color: #111;
    padding: 0 15px 15px 15px;
    border-radius: 25px;
    word-wrap: break-word;
}
h1 a {
    color: #E8871E;
}
h1 a:hover {
    color: #FF9321;
    text-decoration: none;
}
h1 a:visited {
    color: #E8871E;
}
h1 a:active {
    color: #FF9321;
}
h2 {
    color: #297373;
}
.status-text {
    color: #111;
    text-align: right;
}
.error {
    color: red;
}
table {
    margin: 0 auto;
}
.header {
    padding: 0;
    margin: 0;
}
.like {
    background-color: #FFB8D1;
}
